################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
ARMTemplate\config.json
Development\ARMTemplate\config.json
Development\ARMTemplate\template.json
ARMTemplateGenerator.log
ARMTemplateDeployer.log
